.package{
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 5px 0;
}
.package:hover{
	-webkit-box-shadow:0 0 10px #3498db; 
	-moz-box-shadow: 0 0 10px #3498db; 
	box-shadow:0 0 10px #3498db;
}
.package-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.package-details{
	padding: 8px;
}
.package-info{
	height: 30px;
}
.package-title{
	width: 70%;
	float: left;
	font-weight: bold;
	font-size: 18px;
	text-transform: capitalize;
}
.package-value{
	width: 30%;
	float: right;
	text-align: right
}
.package-value span{
	border-radius: 2px;
	padding: 5px 8px;
	color: #fff;
	background: #2989d8; /* Old browsers */
	background: -moz-linear-gradient(left,  #2989d8 0%, #1e5799 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2989d8 0%, #1e5799 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2989d8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.package-tags{
	padding: 5px;
	height: 50px;
}
.package-tags ul li{
	float: left;
	padding: 0 12px;
	list-style-type: none;
	text-align: center;
}
.package-tags ul{
	padding: 0 !important;
	display: flex;
    justify-content: center;
}
.package-tags ul li span.icon{
	display: inherit;
}
.package-description{
	margin-top: 5px;
}
figure {
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}
/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.ribbon-popular,.ribbon-deal {
	position: absolute;
	right: 11px; top: -3px;
	z-index: 1;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;
}
@media screen and (min-width:768px) {
	.ribbon-popular,.ribbon-deal {
	right: 11px; top: 1px;
}
}
.ribbon-popular span, .ribbon-deal span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
	position: absolute;
	top: 19px; right: -21px;
}

.ribbon-popular span::before, .ribbon-deal span::before{
	content: "";
	position: absolute; left: 0px; top: 100%;
	z-index: -1;
}

.ribbon-popular span::after, .ribbon-deal span::after{
	content: "";
	position: absolute; right: 0px; top: 100%;
	z-index: -1;
}


.ribbon-popular span {
background: #79A70A;
background: linear-gradient(#2989d8 0%, #1e5799 100%);
}
.ribbon-popular span::before {
	border-left: 3px solid #1e5799;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}
.ribbon-popular span::after {
	border-left: 3px solid transparent;
	border-right: 3px solid #1e5799;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #1e5799;
}
.ribbon-deal span {
background: #E67E22;
background: linear-gradient(#E67E22 0%, #d35400 100%);
}
.ribbon-deal span::before {
	border-left: 3px solid #d35400;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #d35400;
}
.ribbon-deal span::after {
	border-left: 3px solid transparent;
	border-right: 3px solid #d35400;
	border-bottom: 3px solid transparent;
	border-top: 3px solid #d35400;
}